@(loginForm: Form[UserController.UserIdentification], errorMessage: String = null)
@implicitField = @{
    helper.FieldConstructor(customInputConstructorTemplate.f)
}

@main(Messages("users.login.title")) {
    @if(errorMessage != null) {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("users.error")</strong> @errorMessage
        </div>
    }
    <h1>@Messages("users.login")</h1>
    @helper.form(helper.CSRF(routes.UserController.loginProcessing())) {
        @helper.inputText(loginForm(UserController.UserIdentification.FIELD_USERNAME), 'placeholder -> Messages("users.username"))
        @helper.inputPassword(loginForm(UserController.UserIdentification.FIELD_PASSWORD), 'placeholder -> Messages("users.password"))

        <p>
            <button type="submit">@Messages("users.login.button")</button>
        </p>
    }

    <a href="@routes.UserController.signUpPage()">@Messages("users.signup.suggestion")</a>
}