@(sweatList: List[Sweat], sizeLimit: Int)

@timeline(sweatList: List[Sweat], sizeLimit) {
    <script>
            $(function() {
                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
                var socket = new WS("@routes.SweatController.streamWs.webSocketURL(request)");
                var sendMessage = function(sweatJson) {
                    console.log("sendMessage");
                    console.log(sweatJson);
                    socket.send(sweatJson);
                };

                var messageEvent = function(event) {
                    console.log("message " + event);
                    var sweat = JSON.parse(event.data);
                    console.log(sweat);
                    var sweatsElement = $('#sweats')
                    $('#sweats').children(":first").before('<a href="#" class="list-group-item">' +
                            '<h4 class="list-group-item-heading">' + sweat.owner.username + '</h4>' +
                            '<i class="list-group-item-heading">' + date2string(sweat.creationTime) + '</i>' +
                            '<p clas="list-group-item-text">' + sweat.content + '</p></a>');
                    console.log(event);
                }

                socket.onmessage = messageEvent;

                $( "#sweatform" ).submit(function( event ) {
                    console.log('submit');
                    var sweatContent = $('#sweatArea').val();
                    var sweat = {content: sweatContent,
                                 owner: {
                                    username: "@request.username"
                                 }};
                    sendMessage(JSON.stringify(sweat));
                    $('#sweatArea').val('');
                    event.preventDefault();
                    console.log("submit end");
            });
            });
    </script>
}